

body {
  background-image: url(images/bg1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}




select { 
  appearance: none; 
  outline: 0; 
  background: white; 
  background-image: none; 
  height: 100%; 
  color: black; 
  cursor: pointer; 
  border:1px solid black; 
  border-radius:3px; 
} 



h1{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  letter-spacing: -4px;
  text-align: center;
  padding: 20px;
  
}

.one{
  background-color: white;

  text-align: center;
  margin: auto;
  width: 50%;
  
}

.selectorButtons{
  background-color:white;
  text-align: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  width: 44%;
  margin: 100px auto;
  padding: 10px;
  cursor: pointer;

}

.source{
  text-align: right;
  font-size: 25px;
  font-style: italic;
  letter-spacing: -1px;
}

button{
  cursor: pointer;
  background-color: black;
  color: white;
  height: 60px;
  width: 80px;
  border: black;
  font-size: 14px;
}

button:hover{
  background-color: rgb(194, 68, 14)
}



/* color for hover button / rgb(194, 68, 14) */

.two{
  text-size: 16px;
  text-align: center;
  /* margin: 100px auto; */
  /* width: 40%; */
}


.returnBooks{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(auto-fit, minmax(400px, 1fr));
  grid-column-start: 4;
  grid-auto-rows: 1fr; 
  margin-bottom: 50px;

  /* display: grid;
  grid-gap: 1rem;
  grid-template-columns:  repeat(5, 300px);
  grid-template-rows: repeat(5, 500px);
  margin-left: 75px; */
}

/* @media screen and (min-width: 40em) {
  .returnBooks{
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 2px;
  }
} */



/* .returnBooks{
  display: flex;

} */

/* .image{
  width: 300px;
  overflow: hidden;
  border: 2px solid black;
 
} */

.image{
  height: 350px;
  width: 250px;
  border: 2px solid black;
}

.rank{
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 250px;
  margin: 0 auto;

}

/* .row{
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
} */





.title{
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 250px;
} 


.author{
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  width: 250px;

}

/* footer{
  background-color: white;
  text-align: center;
  color: black;
  grid-row-start: 2;
  grid-row-end: 3;
} */

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
}

.copyright{
  text-align: center;
}
